---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
BreakBeforeTernaryOperators: "true"
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 72
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: "false"
FixNamespaceComments: "true"
NamespaceIndentation: All
SortUsingDeclarations: "true"
SpaceAfterCStyleCast: "true"
SpaceAfterTemplateKeyword: "true"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "true"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeRangeBasedForLoopColon: "true"
SpacesInAngles: "true"
SpacesInSquareBrackets: "true"
Standard: Auto
ConstructorInitializerAllOnOneLineOrOnePerLine: "false"
SpaceInEmptyParentheses: "true"
SpacesInCStyleCastParentheses: "true"
SpacesInParentheses: "true"
